.album-details-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.big-album-cover {
    width: 300px;
    height: 300px;
    border-radius: 4px;
    margin: 4px;
    padding: 0px;
}

.tracklist-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 2px solid whitesmoke;
    border-top: 0;
    border-radius: 0px 0px 4px 4px;
}

.tracklist-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.light-background {
    background-color: rgba(29, 25, 31, .3);
}

.dark-background {
    background-color: rgba(29, 25, 31, .4);
}