body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.wd-bookmarks-header {
  border: 1px solid #383737;
  height: 60px;
  width: 600px;
}

.wd-bookmarks-text {
  font-size: 20px;
  position: relative;
  left: 16px;
  top: 12px;
}

.wd-handle {
  font-size: 13px;
  position: relative;
  left: 16px;
  top: 8px;
}

.wd-bookmarks-content {
  border: 1px solid #383737;
  height: 600px;
  width: 600px;
}

.wd-author-container {
  position: relative;
  left: 16px;
  top: 12px;
  float: left;
  padding-right: 12px;
  width: 10%;
}

.wd-avatar-image {
  width: 48px;
  height: 48px;
  border-radius: 50px;
}

.wd-album-image {
  width: 150px;
  height: 150px;
}

.wd-content-container {
  float: left;
  width: 504px;
  margin-top: 12px;
  margin-left: 12px;
}

.wd-bookmarks-info {
  position: relative;
  padding-left: 24px;
  bottom: 24px;
}

.wd-author-name {
  color: white;
  font-size: 15px;
  top: 24px;
  left: 24px;
}

.wd-handle-and-date {
  font-size: 13px;
}

.wd-dots-icon-bookmarks {
  width: 20px;
  height: auto;
  position: relative;
  bottom: 6px;
}

.wd-bookmarks-p {
  color: white;
  font-size: 15px;
  max-width: 506px;
  margin-right: 16px;
  margin-bottom: 12px;
}

.wd-three-dots-container {
  float: right;
}

.wd-picture-container {
  height: 360px;
  width: 504px;
  border: 1px solid #383737;
  border-radius: 25px;
}

.wd-picture {
  width: 504px;
  height: 264px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.wd-content-under-pic {
  margin: 12px;
}

.wd-under-pic-title {
  font-size: 15px;
}

.wd-under-pic-content {
  color: #6e767d;
  font-size: 15px;
}

.wd-bottom-icons {
  margin-top: 12px;
}

.wd-each-icon {
  font-size: 12px;
  float: left;
  text-decoration: unset;
}

.wd-icon-pic {
  width: 12px;
  height: 12px;
  margin-right: 12px;
}

.wd-link-pic {
  width: 12px;
  height: 12px;
  margin-right: 2px;
}

.wd-bottom-icons-red {
  color: red;
  font-size: 12px;
  float: left;
  text-decoration: unset;
}

.wd-like-pic {
  width: 12px;
  height: 12px;
  margin-right: 12px;
}

.wd-last-icon {
  float: left;
}

.wd-link-container {
  text-decoration: unset;
  color: #6e767d;
}

.wd-gray-text {
  color: rgb(96, 94, 94);
}

.wd-bg-a5 {
  background: #060606;
}

.wd-follow-container {
  height: 50px;
}

.wd-follow-image {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.btn-primary.override-bs {
  border-radius: 25px;
  font-size: 16px;
  color: white;
  width: 80px;
  height: 40px;
}

.wd-tuit-basic-div {
  border: 1px solid #2c2a2a;
  height: 120px;
}

.wd-gray-text {
  color: #6e767d;
}

.wd-font-size-12 {
  font-size: 12px;
}

.wd-font-size-14 {
  font-size: 14px;
}

.wd-font-size-24 {
  font-size: 24px;
}

.wd-font-size-32 {
  font-size: 32px;
}

.wd-text-ellipses {
  text-overflow: ellipsis;
  overflow: hidden;
}

.wd-black-bold-text {
  color: black;
  font-weight: bold;
}

.wd-bold-text {
  font-weight: bold;
}

.wd-btn-transparent {
  background-color: rgba(29, 25, 31, .4);
  border: 1px solid whitesmoke;
  padding: 10px;
  border-radius: 4px;
}

.wd-btn-transparent:hover {
  background-color: rgba(29, 25, 31, .6);
}

.wd-basic-tuit-picture {
  width: 90px;
  height: auto;
  border-radius: 20px;
}

.wd-search-section {
  height: 50px;
}

.wd-search-tuiter-pill {
  background-color: white;
  border: 1px #585757 solid;
  border-radius: 50px;
  height: 40px;
  width: 90%;
  display: block;
}

.wd-remove-decor {
  color: black;
  text-decoration: none;
}

.wd-search-tuiter-input {
  color: black;
  background-color: white;
  border-radius: 50px;
  font-size: 16px;
  height: 30px;
  width: 90%;
  border: unset;
  outline: unset;
}

.wd-picture {
  width: 100%;
}

.wd-image-text {
  color: #2c2a2a;
  font-weight: bold;
  font-size: 40px;
}

